<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moyersoftware.bru">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.BruApp"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".user.RegistrationActivity"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".settings.SettingsActivity" />
        <activity
            android:name=".addpost.AddPostActivity"
            android:windowSoftInputMode="stateVisible" />

        <service
            android:name=".service.firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1761468736156699~1132205161"/>
        <activity
            android:name=".main.ImageFullScreen"
            android:theme="@style/AppTheme.Dark" />

        <activity android:name=".warning.WarningActivity" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="43f362435ff9fc1d11e95af6f7d0c0b0a1fc15a8" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_default" />
        <meta-data android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
    </application>

</manifest>